In [ ]:
# 1. Declare an empty list
empty_list = []
print(empty_list)

[]

In [ ]:
# 2. Declare a list with more than 5 items
fruits = ["apple", "orange", "lemon", "mango", "grapes", "papaya"]
print(fruits)

['apple', 'orange', 'lemon', 'mango', 'grapes', 'papaya']

In [ ]:
# 3. Find the length of your list
print(len(fruits))

6

In [ ]:
# 4.Get the first item, the middle item and the last item of the list
print("first item: ", fruits[0])
print("middle item: ", fruits[len(fruits)//2])
print("other middle item: ", fruits[(len(fruits)//2)-1])
print("last item: ", fruits[-1])

first item:  apple
middle item:  mango
other middle item:  lemon
last item:  papaya

In [ ]:
# 5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ["Abhijith", 27, 173, "unmarried", "Padinjare Vailekkat"]
print(mixed_data_types)

['Abhijith', 27, 173, 'unmarried', 'Padinjare Vailekkat']

In [ ]:
# 6. Declare a list variable named it_companies and assign initial values
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

In [ ]:
#7. Print the list using print()

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 8. Print the number of companies in the list
print(len(it_companies))

7

In [ ]:
# 9. Print the first, middle and last company
print("first company is ", it_companies[0])
print("middle company is ", it_companies[len(it_companies)//2])
print("last company is ", it_companies[-1])

first company is  Facebook
middle company is  Apple
last company is  Amazon

In [ ]:
# 10. Print the list after modifying one of the companies
it_companies[0] = 'x'
print(it_companies)

['x', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 11. Add an IT company to it_companies

it_companies.append("facebook")
print(it_companies)

['x', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'facebook']

In [ ]:
# 12. Insert an IT company in the middle of the companies list
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
middle_index = len(it_companies)//2
it_companies.insert(middle_index, "Tesla")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Tesla', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon",]
it_companies[1] = it_companies[1].upper()
print(it_companies)

['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 14. Join the it_companies with a string '#;  '


it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon", ]
joined_companies = "#;  ".join(it_companies)
print(joined_companies)

Facebook#;  Google#;  Microsoft#;  Apple#;  IBM#;  Oracle#;  Amazon

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon", ]
new_list = '#; '.join(it_companies)
print(new_list)

Facebook#; Google#; Microsoft#; Apple#; IBM#; Oracle#; Amazon

In [ ]:
# 15. Check if a certain company exists in the it_companies list.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

company_to_check = "Amazon"
if company_to_check in it_companies:
  print(f"{company_to_check} exist in the list.")
else:
  print(f"{company_to_check} doesn't exist in the list")

Amazon exist in the list.

In [ ]:
# 16. Sort the list using sort() method

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [ ]:
# 17. Reverse the list in descending order using reverse() method
it_companies = ['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
it_companies.reverse()
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [ ]:
# 18. Slice out the first 3 companies from the list
it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
first_three = it_companies[:3]
print(first_three)

['Oracle', 'Microsoft', 'IBM']

In [ ]:
# 19. Slice out the last 3 companies from the list
it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
last_three = it_companies[-3:]
print(last_three)

['Facebook', 'Apple', 'Amazon']

In [ ]:
# 20. Slice out the middle IT company or companies from the list
it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
length = len(it_companies)
mid = length//2
if length % 2 == 0:
  middle = it_companies[mid-1:mid+1]
else:
  middle = [it_companies[mid]]
print(middle)

['Google']

In [ ]:
it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
it_companies[len(it_companies)//2]

'Google'

In [ ]:
# 21. Remove the first IT company from the list

it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
it_companies.pop(0)
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [ ]:
# 22. Remove the middle IT company or companies from the list
it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
length = len(it_companies)
midd = length // 2
if length//2 == 0:
  del it_companies[midd-1:midd+1]
else:
  del it_companies[midd]
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Facebook', 'Apple', 'Amazon']

In [ ]:
# 23. Remove the last IT company from the list
it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
it_companies.pop(-1)
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

In [ ]:
# 24. Remove all IT companies from the list
it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
it_companies.clear()
print(it_companies)

[]

In [ ]:
# 25. Destroy the IT companies list
it_companies = ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

In [ ]:
# 26. Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joined_companies = front_end + back_end
print(joined_companies)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
_# 27. After joining the lists in question 26. Copy the joined list and assign it to a
# variable full_stack, then insert Python and SQL after Redux.
joined_comapanies = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
full_stack = joined_companies
#fimd the index of redux
index_redux = full_stack.index("Redux")
full_stack.insert(index_redux + 1, "python")
full_stack.insert(index_redux + 2, "SQL")
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'python', 'SQL', 'Node', 'Express', 'MongoDB']

#Second Set Assignment

The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
# Sort the list and find the min and max age

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
1. #sort the list
ages.sort()
print("1. sorted ages ", ages)

2. #minimum age
min_age = min(ages)
print( "2. minimum age ", min_age)

3.#maximum age
max_age = max(ages)
print("3. maximum age ", max_age)

1. sorted ages  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
2. minimum age  19
3. maximum age  26

In [ ]:
# Add the min age and the max age again to the list
ages = [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum_age = 19
maximum_age = 26
ages.append(minimum_age)
ages.append(maximum_age)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [ ]:
# Find the median age (one middle item or two middle items divided by two)
ages = [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
n = len(ages)
mid1 = ages[n//2-1]
mid2 = ages[n//2]
midean =(mid1 + mid2) //2
print("midean is", midean)

midean is 24

In [ ]:
# Find the average age (sum of all items divided by their number )
ages = [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
sum = sum(ages)
count = len(ages)
average = sum//count
print(average)

TypeError: 'int' object is not callable

In [ ]:
# Find the range of the ages (max minus min)
ages = [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
max_age = max(ages)
min_age = min(ages)
range_of_the_age = max_age - min_age

7

In [ ]:
# Compare the value of (min - average) and (max - average), use abs() method
ages = [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
sum = sum(ages)
count = len(ages)
min_age = min(ages)
max_age = max(ages)
average_age = sum/count
diff_min = abs(min_age - average_age)
diff_max = abs(max_age - average_Age)
pirnt("max average is ", diff_max)
print("min average is ", diff_min)

TypeError: 'int' object is not callable

In [ ]:
# Find the middle country(ies) in the countries list
countries = ["USA", "France", "China", "Japan", "India", "Singapore"]
countries[len(countries)//2]

'Japan'

In [ ]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [ ]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the
# first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']