### Sets - Exercises

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
# 1. Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("length of the set is ", len(it_companies))

length of the set is  7

In [ ]:
# 2.Add 'Twitter' to it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add("Twitter")
print("Updated IT companies: ", it_companies)

Updated IT companies:  {'IBM', 'Oracle', 'Google', 'Twitter', 'Microsoft', 'Amazon', 'Facebook', 'Apple'}

In [ ]:
# 3. Insert multiple IT companies at once to the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.update(["Tesla", "Netflix", "ITC"])
print(it_companies)

{'Microsoft', 'Facebook', 'Tesla', 'Oracle', 'Google', 'IBM', 'Netflix', 'Amazon', 'ITC', 'Apple'}

In [ ]:
# 4. Remove one of the companies from the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove("Google")
print("updated it companies", it_companies)

updated it companies {'IBM', 'Oracle', 'Microsoft', 'Amazon', 'Facebook', 'Apple'}

In [ ]:
# 5. What is the difference between remove and discard
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.discard("Google")
print("it companies", it_companies)

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove("Google")
print("updated it companies", it_companies)

it companies {'IBM', 'Oracle', 'Microsoft', 'Amazon', 'Facebook', 'Apple'}
updated it companies {'IBM', 'Oracle', 'Microsoft', 'Amazon', 'Facebook', 'Apple'}

In [ ]:
# 6. Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A|B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 7. Find A intersection B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A & B)

{19, 20, 22, 24, 25, 26}

In [ ]:
# 8. Is A subset of B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("is A subset of B? ", A.issubset(B))

is A subset of B?  True

In [ ]:
# 9. Are A and B disjoint sets
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("is A and B are disjoint sets? ", A.isdisjoint(B))

is A and B are disjoint sets?  False

In [ ]:
# 10. Join A with B and B with A
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("A U B :", A|B)
print("B U A :", B|A)

A U B : {19, 20, 22, 24, 25, 26, 27, 28}
B U A : {19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 11. What is the symmetric difference between A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("symmetric difference is: ", A.symmetric_difference(B))

symmetric difference is:  {27, 28}

In [ ]:
 # 12. Delete the sets completely
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
del A, B
print(A)
print(B)

NameError: name 'A' is not defined

In [ ]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print("list: ", age)
print("set:" ,age_set)
print("length of list is ", len(age))
print("length of set is ", len(age_set))
if len(age) < len(age_set):
  print("length of list is less than set")
elif len(age) > len(age_set):
  print("length of list is greater than set")
else:
  print("they have same length ")

list:  [22, 19, 24, 25, 26, 24, 25, 24]
set: {19, 22, 24, 25, 26}
length of list is  8
length of set is  5
length of list is greater than set

In [ ]:
# 14. "I am a teacher and I love to inspire and teach people."
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
print("words: ", words)
print("unique words: ", unique_words)
print("number of unique words are used: ", len(unique_words))

words:  ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
unique words:  {'a', 'I', 'and', 'teacher', 'inspire', 'people', 'love', 'teach', 'to', 'am'}
number of unique words are used:  10